body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: blanchedalmond;
}

main {
  display: flex;
  align-items: center;
  background: #EEE;
  box-shadow: 2px 2px 2px #444;
  max-width: 80vw;
}

table {
  border-collapse: collapse;
}

tbody > tr:hover {
  background: #DDE;
}

tr:nth-child(odd) {
  background: #DDD;
}

td {
  padding: 0.5em 1em;
}

td:nth-child(1) {
  border-right: 2px solid #888;
  font-weight: bolder;
}
td:nth-child(2) {
  text-align: right;
}

.chile {
  display: grid;
  width: 280px;
  height: 185px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;

  box-shadow: 2px 2px 8px #222;
  background: magenta;
}

.chile > .left {
  grid-column: 1/2;
  grid-row: 1/3;
  background: mediumblue;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.chile > .left > h1 {
  margin: 0;
  padding: 0;

  color: white;
  font-size: 60px;
  text-align: center;
}

.chile > .right {
  grid-column: 2/4;
  grid-row: 1/2;
  background: white;
}

.chile > .bottom {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background: red;
}
